<div class="header">
    <h3>Dove siamo</h3>
</div>
<div class="normal-text">
Ci trovi presso il <b>Centro Polisportivo</b>, in <b>Largo Anguissola 1, a Piacenza</b>.  
<p>
Il centro offre <b>strutture perfette per il divertimento e lo sport dei bambini</b>: palazzetto dello sport, campi da calcetto, campi da tennis, campo da rugby e piscina scoperta.  
</p>
Il centro è completamente attrezzato con <b>servizi igienici, spogliatoi e una zona dedicata ai pasti</b>, dove i bambini consumano merende e pranzo in tutta sicurezza.  
<p>
L’ingresso è dal <b>cancello verde sulla sinistra</b>.  
</p>
<p>
Vi aspettiamo per un'estate di sport, giochi e divertimento!
</p>
</div>

<div class="div-map">
    <a href="https://maps.app.goo.gl/KeQrraLiqnQC7LCb9" target="_blank" rel="noopener">
        <img src="assets/map.jpeg" class="img-map" />
    </a>
</div>