<div class="dayworkout">
    <div class="header">
        <h3>PROGETTO PER IL CONTRASTO ALLE POVERTÀ EDUCATIVE E LA
            CONCILIAZIONE VITA-LAVORO: SOSTEGNO ALLE FAMIGLIE PER LA FREQUENZA
            DI CENTRI ESTIVI 2026</h3>
    </div>
    <div class="normal-text">
        Il progetto prevede l’erogazione di contributi destinati ai nuclei familiari con figli in possesso di specifici
        requisiti di età, di reddito e occupazionali per l’abbattimento delle rette di frequenza dei centri estivi.
        <p>
            Richiedi l'Attestazione di pre-iscrizione da presentare poi per la richiesta di contributo. 
            <br>
            Clicca
            <a mat-button href="https://forms.gle/SeocZAVkgnT6DbqM7" target="_blank">qui
            </a>
            e inserisci i dati richiesti

        </p>
    </div>