<div class="header">
    <h3>Info e Costi</h3>
</div>
    <div class="logo" widtth="80%">
      <img src="assets/infoecosti.jpeg">
    </div>
<div class="normal-text">
    <br>
    <p style="line-height: 0.8; font-size: 110%;">
        <b>Specifiche sulle quote e pagamenti</b>
    </p>
    <p>
        - La quota settimanale non verrà rimborsata in caso di assenza ma verranno concordati degli sconti sulle
        settimane
        successive.
    </p>
    <p>
        - i pagamenti possono essere effettuati con bonifico nei giorni precedenti l'inizio della settimana (o periodo)
        di
        frequenza oppure in contanti la mattina all'ingresso. Verrà rilasciata la ricevuta al termine del periodo di
        frequenza.
    </p>
    <p>
        Se si sceglie il pagamento attraverso bonifico:
        <b>IBAN IT50T0538712600000004263539</b> a favore di “Consorzio Bakery Basket Club Piacenza”, con causale "Pagamento
        Settimana <b>( *numero )</b> Piacenza Summer Sport".
        <br>
        <b>( *indicare il numero della settimana frequentata )</b>.
    </p>
</div>