<div class="header">
    <h3>Info e Costi</h3>
</div>
<div class="normal-text">
    <p style="line-height: 0.8; font-size: 110%;">
        <b>Quota full time (8:00 – 17:00)</b>
    </p>
    <p style="line-height: 0.4;">
        - <b>€140 a settimana</b>
    </p>
    <p style="line-height: 0.4;">
        - Include <b>pranzo e merende</b>
    </p>
    <p>
    <p style="line-height: 0.4;">
        - kit Piacenza Summer Sport 2026
    </p>
    <p style="line-height: 0.4;">
        - Ideale per chi desidera la giornata completa di sport e attività.
    </p>
    <p style="line-height: 0.8; font-size: 110%;">
        <b>Quota part time senza pranzo</b>
    </p>
    <p style="line-height: 0.4;">
        - <b>€90 a settimana</b>
    </p>
    <p style="line-height: 0.4;">
        - Orario ridotto a scelta: <b>8:00 - 12:00</b> oppure <b>13:00 - 17:00</b>
    </p>
    <p style="line-height: 0.4;">
        - pranzo <b>non incluso</b>
    </p>
    <p style="line-height: 0.8; font-size: 110%;">
        <b>Quota part time con pranzo</b>
    </p>
    <p style="line-height: 0.4;">
        - <b>€110 a settimana</b>
    </p>
    <p style="line-height: 0.4;">
        - Orario ridotto con <b>pranzo incluso</b>
    </p>
    <br>
    <p style="line-height: 0.8; font-size: 110%;">
        <b>Specifiche sulle quote e pagamenti</b>
    </p>
    <p>
        - La quota settimanale non verrà rimborsata in caso di assenza ma verranno concordati degli sconti sulle
        settimane
        successive.
    </p>
    <p>
        - i pagamenti possono essere effettuati con bonifico nei giorni precedenti l'inizio della settimana (o periodo)
        di
        frequenza oppure in contanti la mattina all'ingresso. Verrà rilasciata la ricevuta al termine del periodo di
        frequenza.
    </p>
    <p>
        Se si sceglie il pagamento attraverso bonifico:
        <b>IBAN IT50T0538712600000004263539</b> a favore di “Consorzio Bakery Basket Club Piacenza”, con causale "Pagamento
        Settimana <b>( *numero )</b> Piacenza Summer Sport".
        <br>
        <b>( *indicare il numero della settimana frequentata )</b>.
    </p>
</div>