<div class="header">
    <h3>Contatti</h3>
</div>
<div class="normal-text">
Per informazioni, domande oppure chiarimenti, puoi contattarci direttamente:  

<p>
- <b>Simone</b>:<span style="color: green;">&nbsp;  328 8711912</span>  
</p>
<p>
- <b>Marco</b>:<span style="color: green;">&nbsp;   393 0490300</span>  
</p>
<p>
- <b>Renato</b>:<span style="color: green;">&nbsp;   335 7897040</span>  
</p>
<p>
Oppure scrivici all’indirizzo mail ufficiale: 
<a href="mailto:piacenzasummer@gmail.com">piacenzasummer@gmail.com</a>
</p>
<p>

Siamo sempre a disposizione per rispondere a tutte le vostre domande e aiutarvi a organizzare al meglio l’esperienza estiva dei vostri bambini!    
</div>