<svg id="background" width='1366' height='768' viewBox="0 0 1366 738" fill='none' xmlns='http://www.w3.org/2000/svg'>
  <g opacity='0.75' filter='url(#filter0_f_39_143)'>
    <circle cy='1000' r='264' fill='url(#paint0_linear_39_143)' />
  </g>
  <g opacity='0.65' filter='url(#filter1_f_39_143)'>
    <circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)' />
  </g>
  <defs>
    <filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse'
      color-interpolation-filters='sRGB'>
      <feFlood flood-opacity='0' result='BackgroundImageFix' />
      <feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' />
      <feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143' />
    </filter>
    <filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse'
      color-interpolation-filters='sRGB'>
      <feFlood flood-opacity='0' result='BackgroundImageFix' />
      <feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' />
      <feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143' />
    </filter>
    <linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264'
      gradientUnits='userSpaceOnUse'>
      <stop stop-color="var(--bttm-left-blur-1)" />
      <stop offset='1' stop-color="var(--bttm-left-blur-2)" />
    </linearGradient>
    <linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'>
      <stop stop-color="var(--top-right-blur-1)" />
      <stop offset='1' stop-color="var(--top-right-blur-2)" />
    </linearGradient>
  </defs>
</svg>


<mat-sidenav-container class="root-container">

  <!-- Vertical menu for mobile -->
  <mat-sidenav #sidenav [mode]="'over'" [opened]="false" role="navigation">
    <nav class="sidenav-menu">
      <!-- Brand / Home (left) -->
      <a mat-button routerLink="/home" (click)="sidenav.close()">
        <mat-icon aria-hidden="true">home</mat-icon>
      </a>
      <a mat-button routerLink="/about" (click)="sidenav.close()">Chi siamo</a>
      <a mat-button routerLink="/dayworkout" (click)="sidenav.close()">Programma giornaliero</a>
      <a mat-button routerLink="/infoandcost" (click)="sidenav.close()">Info e costi</a>
      <a mat-button routerLink="/bonus" (click)="sidenav.close()">Bonus 2026</a>
      <a mat-button routerLink="/location" (click)="sidenav.close()">Dove siamo</a>
      <a mat-button routerLink="/contacts" (click)="sidenav.close()">Contatti</a>
      <!-- Right utilities -->
      <a mat-button routerLink="/registration" (click)="sidenav.close()">Registrazione
        <mat-icon>account_circle</mat-icon>
      </a>
    </nav>
  </mat-sidenav>

  <!-- Main area -->
  <mat-sidenav-content>

    <!-- Top bar (always visible) -->
    <mat-toolbar color="primary" class="toolbar">
      <!-- Mobile: hamburger -->
      @if (isMobile) {
      <button mat-icon-button (click)="sidenav.open()" aria-label="Open menu">
        <mat-icon>menu</mat-icon>
      </button>
      }

      <!-- Brand / Home (left) -->
      <a mat-button routerLink="/home">
        <mat-icon aria-hidden="true">home</mat-icon>
      </a>

      @if (!isMobile) {
      <nav class="top-nav">
        <a mat-button routerLink="/about">Chi siamo</a>
        <a mat-button routerLink="/dayworkout">Programma giornaliero</a>
        <a mat-button routerLink="/infoandcost">Info e costi</a>
        <a mat-button routerLink="/bonus">Bonus 2026</a>
        <a mat-button routerLink="/location">Dove siamo</a>
        <a mat-button routerLink="/contacts">Contatti</a>
        <!-- Right utilities -->
        <a mat-button routerLink="/registration" (click)="sidenav.close()">Registrazione
          <mat-icon>account_circle</mat-icon>
        </a>
      </nav>
      }
    </mat-toolbar>

    <div id="content">
      <h1>Piacenza Summer Sport 2026</h1>
      <router-outlet></router-outlet>
      <footer>
        Benvenuti al portale di gestione del centro estivo Piacenza Summer Sport 2026
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>