<div class="header">
    <h3>Programma Giornaliero</h3>
</div>
<div class="normal-text">
Al <b>Piacenza Summer Sport</b> ogni giorno è pieno di <b>divertimento, sport e nuove amicizie</b>! Ecco come si svolge una giornata tipo:  
<p>
<b>- 7:30 – 8:00</b> Apertura cancelli e accoglienza: arriva e inizia la giornata con il sorriso!  <br>
<b>- 9:00</b> Attività sportive: giochi, tornei e allenamenti per divertirsi in movimento  <br>
<b>- 10:30</b> Merenda: ricarichiamo le energie per le sfide successive  <br>
<b>- 11:00</b> PISCINA: tuffi, giochi d’acqua e tanto divertimento  <br>
<b>- 12:30</b> Pranzo: momento di relax e chiacchiere con gli amici  <br>
<b>- 13:30</b> Riposo e compiti: un po’ di pausa per ricaricare la mente  <br>
<b>- 14:30</b> Sport pomeridiano: sfide, giochi di squadra e allenamenti divertenti  <br>
<b>- 15:30</b> PISCINA DI NUOVO: giochi in acqua e momenti di relax  <br>
<b>- 16:30</b> Merenda: uno snack per ricaricare le energie <br>
<b>- 17:00</b> Fine giornata: tutti a casa con tante storie da raccontare!<br>
</p>
Ogni momento è pensato per far <b>giocare, migliorare e divertirsi</b> insieme agli amici, in un ambiente sicuro e pieno di entusiasmo!   
</div>