<div class="header">
  <!--
    <h1>Piacenza Summer Sport 2026</h1>
    -->
  <div class="logo">
    <img src="assets/locandina.jpeg">
  </div>
</div>
<div class="normal-text">
  <br>
  <p style="line-height: 0.8; font-size: 110%; text-align: center;">
    <b>Perché scegliere Piacenza Summer Sport</b>
  </p>
  <p>
    Un’estate che lascia il segno.
    Piacenza Summer Sport è molto più di un centro estivo: è un’esperienza che unisce energia, divertimento e crescita,
    pensata per far vivere ai ragazzi giornate indimenticabili.
  </p>
  <br>
  <p style="line-height: 0.8; font-size: 110%; text-align: center;">
    <b>Il valore dello sport</b>
  </p>
  <p>
    Ogni giornata è una sfida, ogni gioco è un’occasione per divertirsi. Qui si impara a credere in sé stessi, a
    superare i propri limiti e a dare il massimo, sempre con il sorriso. Lo sport diventa passione, entusiasmo e voglia
    di mettersi in gioco ogni giorno.
  </p>
  <br>
  <p style="line-height: 0.8; font-size: 110%; text-align: center;">
    <b>Amicizia</b>
  </p>
  <p>
    Le emozioni condivise creano legami veri. Tra una partita e una risata nascono amicizie speciali, ricordi che
    restano e momenti che i ragazzi porteranno con sé anche dopo l’estate.
  </p>
  <p style="line-height: 0.8; font-size: 110%; text-align: center;">
    <b>Le nostre attività</b>
  </p>
  <p>
    Basket, calcio, volley, rugby, baseball, padel e ginnastica <b>… e piscina tutti i giorni!</b>
    <br>
    Tanto sport, movimento e divertimento in un unico spazio pensato per far crescere la passione ogni giorno.
  </p>
  <br>
  <p style="line-height: 0.8; font-size: 110%; text-align: center;">
    <u><b>Piacenza Summer Sport: un’estate da vivere al massimo!</b></u>
  </p>
</div>