@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

root {
  --main-family: 'Poppins', sans-serif;
  --color-bg: linear-gradient(180deg, #ffffff 0%, #dcc7ae 100%);

  /* Controls the blob blur gradient colors within the main tag's svg  ORIGINAL 
  --top-right-blur-1: #20C6B7;
  --top-right-blur-2: #4D9ABF;
  --bttm-left-blur-1: #de3641;
  --bttm-left-blur-2: #e46b73;
  */

  /* Controls the blob blur gradient colors within the main tag's svg */
  --top-right-blur-1: #4D9ABF;
  --top-right-blur-2: #de3641;
  --bttm-left-blur-1: #e46b73;
  --bttm-left-blur-2: #20C6B7;
}


html {
  background: var(--color-bg);
  font-family: var(--main-family);
  min-height: 100%;
}

body {
  margin: 0;
}

#background {
  position: fixed;
  width: 100%;
  z-index: -1;
  height: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  padding: 16px;
}

.header {
  text-align: center;
}

.header h1 {
  padding-top: 5%;
  margin: 0;
  font-size: calc(max(5vw, 32px));
}

.header .logo img {
  padding: 30px 0;
  width: 100vw;
}

.header h2 {
  line-height: 34px;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 5%;
  font-weight: 500;
}

.normal-text {
  width: 90vw;
  margin: 0 auto;
  font-size: 16 px;
  padding-bottom: 5%;
}

.div-map {
  width: 90vw;
  margin: 0 auto;
  max-width: 100%;
}

.img-map {
  width: 90vw;
  margin: 0 auto;
}

@media only screen and (max-width: 450px) {
  .header h2 {
    width: 90%;
    padding: 5%;
  }
}

footer {
  position: fixed;
  bottom: 0%;
  text-align: center;
  padding: 12px;
  font-size: 12px;
  color: #666;
  background-color: white;
  border-top: 1px solid red;
  margin: 0 auto;
  width: 100%;
}

footer img {
  width: 20px;
}